#page {
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row-reverse;

    height: 100vh;
    width: 100%;

    /* #region tab specific selectors */
    &:has(#sidebar[data-tab='submissions']) #content>div:not(#submissions),
    &:has(#sidebar[data-tab='tasks']) #content>div:not(#tasks),
    &:has(#sidebar[data-tab='schedule']) #content>div:not(#schedule) {
        display: none;
    }

    /* #endregion */
}

#content {
    flex: 1;
    height: 100%;

    overflow-y: scroll;

    /* #region scrollbar */
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--tertiary);
        border-radius: 1000px;
    }

    /* #endregion */

    &>div {
        margin: var(--screen-padding);
    }
}