#page {
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row-reverse;

    height: 100vh;
    width: 100%;

    /* #region tab specific selectors */
    &:has(#sidebar[data-tab='submissions']) #content>div:not(#submissions),
    &:has(#sidebar[data-tab='tasks']) #content>div:not(#tasks),
    &:has(#sidebar[data-tab='schedule']) #content>div:not(#schedule) {
        display: none;
    }

    /* #endregion */
}

#content {
    flex: 1;
    height: 100%;

    overflow-y: scroll;

    /* #region scrollbar */
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--tertiary);
        border-radius: 1000px;
    }

    /* #endregion */

    &>div {
        margin: var(--screen-padding);
    }

    /* & #submissions {
        &>#header {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            flex-direction: column;

            & span {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: row;
            }

            & #submission-count {
                opacity: 0.5;

                margin-left: 1ch;
            }

            & #last-updated {
                opacity: 0.3;
                font-style: italic;
                font-weight: 300;
            }
        }

        &>#container {
            display: grid;
            grid-template-columns: repeat(auto-fit, var(--submission-card-width));
            justify-content: center;
            gap: 1.5em;

            margin-top: 2em;
        }
    } */

    /* & #tasks {
        & #header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & #text {
                & h5 {
                    opacity: 0.5;
                }
            }

            & #action {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0.2em 2ch;

                background: var(--accent-background);
                border-color: var(--accent-border);
                border-width: 2px;

                cursor: pointer;

                user-select: none;
                -webkit-user-select: none;

                transition-duration: 0.3s;

                & h3,
                & h5 {
                    color: var(--accent);
                }

                & h5 {
                    margin-left: 1ch;
                }

                &:hover {
                    transform: translateY(-0.1em);
                }

                &:active {
                    opacity: 0.5;
                }
            }
        }

        &>#container {
            display: grid;
            grid-template-columns: repeat(auto-fit, 100%);
            justify-content: center;
            gap: 1.5em;

            margin-top: 2em;
        }
    } */
}