#sidebar {
    background: var(--background-secondary);

    min-width: 20vw;
    height: 100%;

    padding: 1.5em 0;

    box-sizing: border-box;

    border-style: solid;
    border-width: 0;
    border-left-width: var(--border-width);
    border-color: var(--border-color);

    &>* {
        margin: 0 1.5em;
    }

    & hr {
        border-collapse: collapse;
        border-style: solid;
        border-color: var(--border-color);
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    & #tabs {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        flex-direction: row;

        margin-top: 1em;

        user-select: none;
        -webkit-user-select: none;

        &>* {
            padding: 0.6em 2ch;
            margin-right: 1ch;
            border-radius: 1.5ch;

            color: color-mix(in srgb, var(--text), transparent);
            background: var(--tertiary-background);
            border-color: var(--tertiary);

            cursor: pointer;

            transition-duration: 0.3s;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    & #sidebar-content #overview {
        &>h5 {
            opacity: 0.5;
        }
    }

    & #sidebar-content #query {
        & #search {
            & input {
                border-collapse: collapse;
                background: none;

                width: 100%;

                padding: 0.7em 2ch;

                font-size: 1rem;

                background: var(--tertiary-background);
                border-color: var(--border-color);

                outline: none;

                &::placeholder {
                    font-style: italic;
                    opacity: 0.5;
                }
            }
        }

        & #filter-subtitle {
            margin-top: 2em;
            color: color-mix(in srgb, var(--text), transparent 70%);
        }

        & #filter {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin-top: 0.3em;

            user-select: none;
            -webkit-user-select: none;

            &>h6 {
                padding: 0.5em 2ch;
                background: var(--tertiary-background);
                color: color-mix(in srgb, var(--text), transparent);

                margin-right: 1ch;

                border-color: var(--tertiary);

                cursor: pointer;

                transition-duration: 0.3s;

                &:hover {
                    color: var(--text);

                    border-color: var(--accent-background);
                }
            }
        }
    }
}

/* #region query/filter specific */
#sidebar {

    &[data-tab='submissions'] #sidebar-content>div:not(#submissions),
    &[data-tab='tasks'] #sidebar-content>div:not(#tasks),
    &[data-tab='schedule'] #sidebar-content>div:not(#schedule) {
        display: none;
    }

    &[data-tab='submissions'] #query>div:not(#submissions),
    &[data-tab='tasks'] #query>div:not(#tasks),
    &[data-tab='schedule'] #query>div:not(#schedule) {
        display: none;
    }

    &[data-tab='submissions'] #tabs #submissions,
    &[data-tab='tasks'] #tabs #tasks,
    &[data-tab='schedule'] #tabs #schedule {
        color: var(--accent);
        background: var(--accent-background);
        border-color: var(--accent-border);

        border-width: 2px;
    }
}

/* #endregion */