#content {
    & #submissions {
        &>#header {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            flex-direction: column;

            & span {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: row;
            }

            & #submission-count {
                opacity: 0.5;

                margin-left: 1ch;
            }

            & #last-updated {
                opacity: 0.3;
                font-style: italic;
                font-weight: 300;
            }
        }

        &>#container {
            display: grid;
            grid-template-columns: repeat(auto-fit, var(--submission-card-width));
            justify-content: center;
            gap: 1.5em;

            margin-top: 2em;
        }
    }
}

#sidebar {

    /* submission tab filter */
    &[data-filter='pending'] #filter #pending,
    &[data-filter='rejected'] #filter #rejected,
    &[data-filter='approved'] #filter #approved {
        color: var(--accent) !important;
        border-color: var(--accent-border) !important;
        background: var(--accent-background) !important;
    }

    /* #region selection animation thingy */
    /* is there a dynamic/smarter way to do this? */
    & #submissions:has(#statistics #pending:hover),
    &[data-filter='pending'] {
        & span:not(#pending) {
            opacity: 0.5;
        }

        & #pie {
            & #pending {
                transform: scale(1.1);
                z-index: 1000;
                border: none;
            }

            &>div:not(#pending) {
                opacity: 0.5;
            }
        }
    }

    & #submissions:has(#statistics #approved:hover),
    &[data-filter='approved'] {
        & span:not(#approved) {
            opacity: 0.5;
        }

        & #pie {
            & #approved {
                transform: scale(1.1);
                z-index: 1000;
                border: none;
            }

            &>div:not(#approved) {
                opacity: 0.5;
            }
        }
    }

    & #submissions:has(#statistics #rejected:hover),
    &[data-filter='rejected'] {
        & span:not(#rejected) {
            opacity: 0.5;
        }

        & #pie {
            & #rejected {
                transform: scale(1.1);
                z-index: 1000;
                border: none;
            }

            &>div:not(#rejected) {
                opacity: 0.5;
            }
        }
    }

    /* #endregion */
}

#sidebar #sidebar-content {
    & #submissions #overview {
        & #pie {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 15em;

            margin-top: 1em;

            &>div {
                position: absolute;

                top: 0;

                height: 15em;
                width: 15em;

                border-radius: 1000px;

                border-style: solid;
                border-width: 1px;
                border-color: var(--tertiary);

                transition-duration: 0.3s;
            }
        }

        & #statistics {
            display: flex;
            justify-content: center;
            align-items: center;

            flex-direction: column;

            margin-top: 1em;

            & span {
                display: flex;
                justify-content: space-between;
                align-items: center;

                min-width: 15em;

                transition-duration: 0.3s;

                cursor: alias;

                &#approved h5 {
                    color: var(--accent);
                }

                &#rejected h5 {
                    color: var(--error);
                }

                &#pending h5 {
                    color: var(--pending);
                }
            }
        }
    }
}