#content {
    & #tasks {
        & #header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & #text {
                & h5 {
                    opacity: 0.5;
                    /* font-style: italic; */
                }
            }

            & #action {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0.2em 2ch;

                background: var(--accent-background);
                border-color: var(--accent-border);
                border-width: 2px;

                cursor: pointer;

                user-select: none;
                -webkit-user-select: none;

                transition-duration: 0.3s;

                & h3,
                & h5 {
                    color: var(--accent);
                }

                & h5 {
                    margin-left: 1ch;
                }

                &:hover {
                    transform: translateY(-0.1em);
                }

                &:active {
                    opacity: 0.5;
                }
            }
        }

        &>#container {
            display: grid;
            grid-template-columns: repeat(auto-fit, 100%);
            justify-content: center;
            gap: 1.5em;

            margin-top: 2em;
        }
    }
}