#page {
    /* applying flex + column direction makes only children scroll, not parent too */
    display: flex;
    flex-direction: column;

    position: relative;

    /* why --vh? check the links */
    /* https://www.reddit.com/r/css/comments/1nk3uzp/full_viewport_height_on_ios_26/ */
    /* https://stackoverflow.com/a/60229913 */
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;

    overflow: hidden;

    scroll-behavior: none;
}

#parent {
    overflow: scroll;

    &>div {
        /* make all immediate div chilren have this margin */
        margin: var(--block-padding);
    }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: var(--screen-padding) !important;

    & #stats {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & #leaves,
    & #streak {
        display: flex;
        justify-content: center;
        align-items: center;

        background: var(--accent-background);

        padding: 0.6em 1.5ch;

        border-radius: var(--border-radius);
        border-style: solid;
        border-width: 2px;
        border-color: var(--accent-border);

        & h4 {
            color: var(--accent);

            margin-right: 1ch;
        }

        & img {
            height: 1.5em;
        }
    }

    & #streak {
        margin-left: 1.5ch;

        border-color: var(--error-secondary);
        background: var(--error-secondary);

        & h4 {
            margin-right: 0;
            margin-left: 0.5ch;

            color: var(--error);
        }
    }

    & #burger {
        height: 2.3em;
        margin-left: 1ch;

        cursor: pointer;
    }
}

#streak-info {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2em !important;
    margin-bottom: 2em !important;

    & img {
        height: 4em;

        padding: 0.5em;
        margin-right: var(--block-padding);

        background: var(--error-secondary);

        border-width: 2px;
        border-color: color-mix(in srgb, var(--error) 10%, transparent);

        filter: drop-shadow(0 5px 10px #000b);
    }

    & #details {
        & h5 {
            opacity: 0.4;
            font-style: italic;
            font-weight: 300;
        }
    }
}

#tasks {
    display: flex;
    justify-content: center;
    align-items: stretch;

    flex-direction: column;

    background: var(--background-secondary);

    margin: 0 !important;

    border-style: solid;
    border-width: var(--border-width) 0;
    border-color: var(--border-color);

    padding: var(--block-padding);

    & #task-container {
        margin-top: 1em;

        /* selector does exactly what it says */
        /* selects the .task-card thats not the last child */
        & .task-card:not(:last-of-type) {
            margin-bottom: 1em;
        }
    }

    & #title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & #view-all {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1ch;

            background: var(--accent-background);
            border-color: var(--accent-border);

            padding: 0.5em 1.5ch;

            cursor: pointer;

            opacity: 0.5;
            transition-duration: 0.3s;
            text-decoration: none;

            & h5 {
                font-style: italic;
            }

            & img {
                height: 1.2em;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    & #timer {
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0.5;

        margin-top: 1em;
        margin-right: auto !important;

        &>h6 {
            font-style: italic;
            margin-right: 1ch;
        }
    }
}

#goals {
    margin: 0 !important;

    padding: var(--block-padding);

    & #title {
        margin-top: 0.5em;

        margin-bottom: 0.5em;
    }
}

#fun-fact {
    margin-bottom: 2em !important;

    & h5 {
        opacity: 0.8;
        margin-top: 0.3em;
    }

    &[data-state='loading']>div:not(#loading),
    &[data-state='data']>div:not(#data),
    &[data-state='failure']>div:not(#failure) {
        display: none;
    }

    #data {
        display: flex;
        flex-direction: column;
    }

    & #loading {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        padding: 2em 0;

        & #spinner {
            width: 2em;
            height: 2em;
            border: 3px solid var(--border-color);
            border-top-color: var(--accent);
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        & h5 {
            margin-top: 2em;

            opacity: 0.5;
            font-style: italic;
        }
    }

    & #failure {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 0;
        text-align: center;

        & h4 {
            color: var(--error);
        }

        & h5 {
            opacity: 0.6;
            font-style: italic;
        }
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}