/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* leaf icon */
/* https://www.flaticon.com/free-icon/leaf_16912450?term=leaf&page=1&position=71&origin=search&related_id=16912450 */

/* css nesting */
/* we use the old method (prefix with &) just in case some browsers dont support without (sass-style) */
/* https://caniuse.com/css-nesting */

:root {
    --text: #ddd;
    --secondary-text: #7f7f7f;

    --background: #000;
    --background-secondary: #101309;

    --tertiary: #34352d;
    --tertiary-background: #1d1f15;

    --accent: #519C03;
    --accent-background: color-mix(in srgb, var(--accent) 20%, transparent 80%);
    --accent-border: color-mix(in srgb, var(--accent) 10%, transparent 90%);

    --daily: #3B82F6;
    --daily-background: color-mix(in srgb, var(--daily), transparent 80%);

    --weekly: #8B5CF6;
    --weekly-background: color-mix(in srgb, var(--weekly), transparent 80%);

    /* we use this red value */
    /* make a new variable for the fire one */
    --error: #E7000B;
    --error-secondary: #3A170F;

    --border-color: #202318;
    --border-radius: 16px;
    --border-width: 1px;

    --title-size: 6rem;

    --screen-padding: 2rem;
    --block-padding: 1rem;

    --submission-card-width: 30em;

    --pending: #F0B000;
    --pending-background: color-mix(in srgb, var(--pending), transparent 80%);

    --approved: var(--accent);
    --approved-background: var(--accent-background);

    --rejected: var(--error);
    --rejected-background: var(--error-secondary);
}

html,
body,
head {
    background: black;
}

*,
html,
body,
head {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    /* #region scrollbar */
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--tertiary);
        border-radius: 1000px;
    }

    /* #endregion */
}

hr {
    border-collapse: collapse;
    border-style: solid;
    border-radius: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
a,
span,
button,
p {
    font-family: 'Jetbrains Mono';
    font-weight: 400;

    color: var(--text);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}

#navbar {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    pointer-events: none;
    backdrop-filter: blur(0) brightness(1);
    opacity: 0;

    scroll-behavior: none;

    transition-duration: 0.3s;

    &[data-active="true"] {
        pointer-events: all;
        opacity: 1;
        backdrop-filter: blur(4px) brightness(0.5);
    }

    #profile-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 0.8em 2ch;

        background: var(--tertiary-background);
        border-color: var(--border-color);
        border-width: 2px;

        text-decoration: none;

        & img {
            height: 2em;
            margin-right: 2ch;

            background: red;
            border-radius: 1000px;
        }
    }

    & hr {
        opacity: 0.05;

        margin: 0.8em 0;

        border-width: 1px;

        background: var(--border-color);
    }

    & .navbar-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        text-decoration: none;

        &:not(:last-of-type) {
            margin-bottom: 1em;
        }

        & img {
            height: 1.4em;

            margin-right: 1.5ch;
        }
    }

    & #close-button {
        margin-top: 1em;

        padding: 0.5em 2ch;

        background: var(--tertiary-background);
        border-color: var(--tertiary);

        cursor: pointer;
    }
}

#component-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2ch;

    width: 100%;

    padding: 0.6em 2ch;

    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: var(--border-color);

    &>h3 {
        margin-right: auto;
    }

    &>img {
        display: block;

        height: 2.5em;
        padding: 0.2em;

        cursor: pointer;
    }
}

.border,
.progressbar,
.task-card,
.task-card-detailed,
.submission-card,
/* from curator */
.task-minimal-card,
.task-selector-card {
    background: var(--background-secondary);

    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--block-padding);
}

.box-title {
    /* to use this, the parent must have position:relative */
    position: absolute;

    top: -0.5em;
    left: 2ch;

    padding: 0 0.5ch;

    /* makes the element be exactly 1em tall */
    /* if not, will be 1.5em or something */
    line-height: 1em;
    font-weight: 500;

    /* trick to have two backgrounds */
    /* first background is background outside of parent */
    background-color: black;

    /* second background is background of parent */
    background-image: linear-gradient(var(--background-secondary), var(--background-secondary));
    /* this second background is only 50% height */
    background-size: 100% 50%;
    background-position: center bottom;
    background-repeat: no-repeat;

    color: color-mix(in srgb, var(--text) 40%, black);
}

.task-card {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--tertiary-background);

    border-color: var(--tertiary);

    & #icon {
        height: 3em;
        padding: 0.5em;

        background: var(--accent-background);
        border-color: var(--accent-border);
    }

    & #details {
        /* makes #details have maximum width */
        flex: 1;

        margin: 0 2ch;

        & h6 {
            opacity: 0.6;
        }
    }

    & #points {
        display: flex;
        justify-content: center;
        align-items: center;

        /* makes this be aligned to top */
        align-self: flex-start;

        & img {
            height: 1.3em;
        }

        & h6 {
            margin-right: 0.5ch;

            font-weight: 700;

            color: var(--accent);
        }
    }
}

.task-card-detailed {
    width: 100%;

    padding: var(--screen-padding);

    & #header {
        display: flex;
        justify-content: center;
        align-items: flex-start !important;
        flex-direction: row;

        & #data {
            & span {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                width: max-content;

                & #occurance-tag,
                & #active-tag {
                    padding: 0.4em 2ch;
                    margin-left: 2ch;

                    background: var(--daily-background);
                    border-color: var(--daily);
                    color: var(--daily);
                    font-weight: bold;

                    border-radius: 0.7em;
                    border-width: 1px;
                }

                & #active-tag {
                    border-color: var(--tertiary);
                    background: var(--tertiary-background);
                    color: var(--accent);
                }

                & #completion-rate {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    padding: 0.3em 1.5ch;
                    margin-left: 2ch;

                    background: var(--weekly-background);
                    border-color: var(--weekly);
                    border-radius: 0.7em;
                    border-width: 1.5px;

                    & img {
                        height: 1em;
                    }

                    & h5 {
                        margin-left: 1ch;

                        color: var(--weekly);
                    }
                }
            }

            &>h5 {
                margin-top: 1em;
                opacity: 0.8;
            }
        }

        & #actions {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                background: var(--tertiary-background);
                border-color: var(--tertiary);

                height: 3em;
                padding: 0.6em;

                opacity: 0.8;
                transition-duration: 0.3s;

                cursor: pointer;

                &:hover {
                    opacity: 1;
                }

                &:last-child {
                    margin-left: 1.5ch;
                }
            }
        }
    }

    & #statistics {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-top: 1em;

        & #points,
        & #completion-rate {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0.3em 1.5ch;

            background: var(--accent-background);
            border-color: var(--accent);
            border-radius: 0.7em;
            border-width: 1.5px;

            & img {
                height: 1em;
            }

            & h5 {
                margin-left: 1ch;

                color: var(--accent);
            }

            &:not(:first-child) {
                margin-left: 1ch;
            }
        }

        /* & #completion-rate {
            background: var(--weekly-background);
            border-color: var(--weekly);

            & h5 {
                color: var(--weekly);
            }
        } */
    }

    & #holder {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-top: 2em;

        &>div {
            border-color: var(--tertiary);
            border-width: 2px;
        }

        & #scheduled-days {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: flex-start;

            flex-direction: column;

            width: max-content;

            /* margin-left: 2ch; */

            & #days {
                display: flex;
                justify-content: center;
                align-items: center;

                & h4 {
                    background: var(--tertiary-background);
                    border-color: var(--tertiary);
                    border-width: 2px;

                    padding: 0.7em 1.5ch;

                    transition-duration: 0.3s;

                    cursor: pointer;
                    user-select: none;
                    -webkit-user-select: none;

                    &:not(:first-child) {
                        margin-left: 1ch;
                    }

                    &[data-active] {
                        border-color: var(--daily);
                        background: var(--daily-background);
                        color: var(--daily);
                    }

                    &:not([data-active]):hover {
                        border-color: color-mix(in srgb, var(--tertiary) 80%, var(--daily));
                        background: color-mix(in srgb, var(--tertiary-background) 80%, var(--daily-background));
                        /* color: color-mix(in srgb, var(--tertiary) 80%, var(--daily)); */
                    }
                }
            }

            & .box-title {
                color: #fff7;
                background: var(--background-secondary);
            }
        }

        & #rewards {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 4ch;

            &>div {
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                background: var(--tertiary-background);
                border-color: var(--tertiary);
                border-width: 2px;

                & #calculation,
                & #result {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img {
                        margin-left: 0.7ch;
                        height: 1em;
                    }
                }

                & #calculation {
                    opacity: 0.7;

                    & h6 {
                        color: var(--accent);
                        font-style: italic;
                    }
                }

                & #result {
                    margin-top: 0.4em;

                    & h3 {
                        color: var(--accent);
                        font-weight: bold;
                    }

                    & img {
                        height: 1.3em;
                    }
                }

                & .box-title {
                    color: var(--accent);
                    font-weight: bold;

                    background-color: var(--background-secondary);
                    background-image: linear-gradient(var(--tertiary-background), var(--tertiary-background));
                    background-size: 100% calc(50% + 2px);
                    /* 2px because border-width */
                }
            }

            &>h3 {
                margin: 0 1ch;
                font-weight: bold;
                opacity: 0.6;
            }
        }

        /* & #completion-rate {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            background: var(--weekly-background);
            border-color: var(--weekly);

            margin-left: 4ch;

            & h2 {
                color: var(--weekly);
            }

            & h5 {
                color: var(--weekly);
            }
        } */
    }

    & #curator-note {
        margin-top: 1.5em;
        padding-top: 0.8em;

        flex: 1;
        border-style: solid;
        border-width: 0px;
        border-top-width: 1.5px;
        border-color: var(--tertiary);

        &:has(h5:empty) {
            display: none;
        }

        & h5 {
            font-style: italic;
            color: var(--text);

            opacity: 0.5;

            white-space: pre-line;

            &::before {
                content: "NOTE TO CURATORS :\A";
                font-weight: 700;
                font-style: normal;
            }
        }
    }

    /* #region data specific selectors */
    &[data-occurance="daily"] {
        & #header #data #occurance-tag {
            &::before {
                content: "DAILY";
            }
        }
    }

    &[data-occurance="weekly"] {
        & #header #data #occurance-tag {
            background: var(--weekly-background);
            color: var(--weekly);
            border-color: var(--weekly);

            &::before {
                content: "WEEKLY";
            }
        }
    }

    &[data-active="true"] {
        & #header #data #active-tag {
            &::before {
                content: "ACTIVE";
            }
        }
    }

    &[data-active="false"] {
        & #header #data #active-tag {
            color: color-mix(in srgb, var(--text) 30%, transparent);

            &::before {
                content: "INACTIVE";
            }
        }
    }

    /* #endregion */
}

.progressbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: var(--background);

    width: 100%;
    height: 0.6em;

    padding: 0;

    border-radius: 1000px;

    box-sizing: border-box;

    & #thumb {
        height: 100%;
        width: 50%;

        background: var(--accent);

        box-sizing: border-box;

        border-style: solid;
        border-width: var(--border-width);
        border-color: color-mix(in srgb, var(--accent) 80%, black);

        border-radius: 1000px;
    }
}

.goal-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 1em;

    flex-direction: column;

    background: var(--background-secondary);

    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--block-padding);

    & #header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin: 0 !important;

        width: 100%;

        & img {
            height: 3.5em;

            margin-right: 2ch;

            padding: 0.5em;

            background: var(--accent-background);
            border-color: var(--accent-border);
            border-width: 2px;
        }

        & #details {
            &>h5 {
                opacity: 0.5;
                font-style: italic;
            }
        }
    }

    & #data {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        flex-direction: column;

        margin: 1em 0.5em;

        width: calc(100% - 1em);

        &>div:first-of-type {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            width: 100%;

            margin-bottom: 0.5em;

            &>h6 {
                color: var(--accent);
                font-weight: 600;
            }
        }

        & #details {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &>* {
                line-height: 1em;
            }

            & #target {
                font-weight: 500;
            }

            & h5 {
                margin-left: 1ch;

                font-style: italic;
                font-weight: 500;

                opacity: 0.5;
            }
        }
    }
}

.submission-card {
    display: block;
    width: var(--submission-card-width);
    height: min-content;

    padding: var(--block-padding);

    & #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        width: 100%;

        &>span {
            display: flex;
            align-items: center;

            & img {
                display: block;

                height: 2.5em;
                width: 2.5em;

                background: cornflowerblue;

                border-radius: 1000px;
            }

            & #info {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                margin-left: 2ch;

                & h5 {
                    opacity: 0.4;
                    font-style: italic;
                }
            }
        }

        & #tag {
            padding: 0.5em 2ch;

            background: var(--tertiary-background);
            border-color: var(--tertiary);
        }
    }

    & #image img {
        width: 100%;
        margin-top: 1em;

        border-radius: var(--border-radius);
    }

    & #data {
        margin-top: 1em;

        & #task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            & #info {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                flex-direction: column;

                & #description {
                    margin-top: 0.5em;
                    opacity: 0.5;
                }
            }

            & #occurance {
                padding: 0.4em 1.6ch;
                margin-left: 1ch;

                font-weight: 700;

                color: var(--daily);
                border-color: var(--daily);
                border-width: 1.5px;
                background: var(--daily-background);

                border-radius: 1em;
            }
        }

        & #excess {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 1em;
            padding-top: 0.5em;

            border-style: solid;
            border-color: var(--border-color);
            border-width: 0;
            border-top-width: var(--border-width);

            & #details {
                display: flex;
                align-items: center;

                & #actions {
                    overflow: hidden;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-left: 1ch;

                    border-style: solid;
                    border-width: var(--border-width);
                    border-color: var(--tertiary);

                    border-radius: 1000px;

                    & h5 {
                        background: var(--tertiary-background);
                        padding: 0.2em 1ch;

                        user-select: none;
                        -webkit-user-select: none;

                        &:nth-child(2) {
                            background: none;

                            border-style: solid;
                            border-width: 0;
                            border-left-width: var(--border-width);
                            border-right-width: var(--border-width);
                            border-color: var(--tertiary);
                        }

                        &:not(:nth-child(2)) {
                            cursor: pointer;

                            transition-duration: 0.3s;

                            &:hover {
                                opacity: 0.7;
                            }

                            &:active {
                                transition-duration: 0s;
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }

            & #points {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0.3em 1.2ch;
                background: var(--accent-background);
                border-color: var(--accent-border);
                border-width: 2px;

                & h6 {
                    margin-left: 0.4ch;
                }

                & img {
                    margin-left: 0.8ch;
                    height: 1em;
                    aspect-ratio: 1;
                }
            }
        }

        & #instructions {
            margin-top: 0.8em;
            padding-top: 0.6em;

            border-style: solid;
            border-color: var(--border-color);
            border-width: 0;
            border-top-width: var(--border-width);

            &:has(h6:empty) {
                display: none;
            }

            & h6 {
                font-style: italic;

                opacity: 0.6;

                &:first-child {
                    font-weight: 700;
                    font-style: normal;
                    margin-bottom: 0.2em;
                }
            }
        }
    }

    &>#actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 1em;

        & h4 {
            width: calc(50% - 0.5ch);
            text-align: center;

            padding: 0.5em 0;

            font-weight: 600;

            cursor: pointer;

            user-select: none;
            -webkit-user-select: none;

            border-width: 2px;

            &:active {
                opacity: 0.5;
            }

            &#reject {
                background: var(--error-secondary);
                color: var(--error);
                border-color: color-mix(in srgb, var(--error), transparent 70%);
            }

            &#approve {
                background: var(--accent-background);
                color: var(--accent);
                border-color: color-mix(in srgb, var(--accent), transparent 70%);
            }
        }
    }

    /* #region data specific */
    &[data-occurance='daily'] {
        & #data #task #occurance {
            color: var(--daily);
            background: var(--daily-background);
            border-color: var(--daily);
        }
    }

    &[data-occurance='weekly'] {
        & #data #task #occurance {
            color: var(--weekly);
            background: var(--weekly-background);
            border-color: var(--weekly);
        }
    }

    &[data-status='pending'] {
        & #header #tag {
            background: var(--pending-background);
            color: var(--pending);
            border-color: var(--pending);
        }
    }

    &[data-status='approved'] {
        & #header #tag {
            background: var(--approved-background);
            color: var(--approved);
            border-color: var(--approved);
        }
    }

    &[data-status='rejected'] {
        & #header #tag {
            background: var(--rejected-background);
            color: var(--rejected);
            border-color: var(--rejected);
        }
    }

    /* #endregion */
}